<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <display-name>Tasking</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <!--    <servlet>-->
  <!--        <servlet-name>HomeServlet</servlet-name>-->
  <!--        <servlet-class>com.novatech.taskflow.controller.HomeServlet</servlet-class>-->
  <!--    </servlet>-->
  <!--    <servlet-mapping>-->
  <!--        <servlet-name>HomeServlet</servlet-name>-->
  <!--        <url-pattern>/home</url-pattern>-->
  <!--        <url-pattern>/dashboard</url-pattern>-->
  <!--        <url-pattern>/</url-pattern>-->
  <!--    </servlet-mapping>-->

  <!--    <servlet>-->
  <!--        <servlet-name>TaskServlet</servlet-name>-->
  <!--        <servlet-class>com.novatech.taskflow.controller.TaskServlet</servlet-class>-->
  <!--    </servlet>-->
  <!--    <servlet-mapping>-->
  <!--        <servlet-name>TaskServlet</servlet-name>-->
  <!--        <url-pattern>/tasks/*</url-pattern>-->
  <!--    </servlet-mapping>-->

  <!--    <servlet>-->
  <!--        <servlet-name>TaskRestServlet</servlet-name>-->
  <!--        <servlet-class>com.novatech.taskflow.controller.TaskRestServlet</servlet-class>-->
  <!--    </servlet>-->
  <!--    <servlet-mapping>-->
  <!--        <servlet-name>TaskRestServlet</servlet-name>-->
  <!--        <url-pattern>/api/tasks/*</url-pattern>-->
  <!--    </servlet-mapping>-->
  <!-- Session configuration -->

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
</web-app>
